#wrap {
	margin: auto;
	width: 800px;
	background-color: #f0ecc4;
	border-style: dotted;
	border-color: black;
	border-width: medium;
}

body {
	background-color: burlywood;
}

.list {
	display: inline-block;
	text-align: center;
	
  list-style-type: none;
   margin: auto;
   width: 800px;
}
.list li::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.55em;
}

h1 {
	text-align: center;
	border-style: dotted;
	border-color: black;
	border-width: medium;
}
