#wrap {
	margin: auto;
	width: 800px;
}

body {
	background-color: #2fbbe9
}

.list {
	display: inline-block;
	text-align: center;
	
  list-style-type: none;
   margin: auto;
   width: 800px;
}
.list li::first-letter {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.55em;
}

