body
{
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #eee;
  font-size: 1em;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  line-height: 1.3;
}

h1
{
  margin: 0;
  line-height: 1;
}

h2,h3,h4,h5,h6
{
  margin: 0 0 .5em;
  line-height: 1.1;
}

p 
{
  margin: 0 0 1em;
}

#wrap
{
  width: 800px;
  background-color: rebeccapurple;
  border: red 10px;
  margin: 0px;
  padding: 0px;
  

} 

#nav
{
  float: left;
  width: 20%;
 
  padding-top: 2em;
  margin: 0px;
  margin-left: 4em;
  background-color: #FFF;
  background-image: url(Light_blue.png);
  background-repeat: repeat-y;
  background-position: 100% 0;
  margin-bottom: 11em;
  height: 30em;


  
}

#content
{
  width: 60%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin:0px 0px 10% 28%;
  background-color: darkblue;

}

.copyright
{
  clear: left;
  background-color: rebeccapurple;
  margin-bottom: -2rem;
  margin-top: 0px;
  padding: 0px;
  
}

.length
{
  margin-bottom: -2em;
}

